@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
